:root {
    --primary-color: #5f29a3;
    --secondary-color: #F0E0FF;
    --light-color: whitesmoke;
    --hover-bg-color: #f3e885;
    --hover-text-color: #2b238a;
}

body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Typography */
h1, h3 {
    margin: 0;
}

h1 {
    color: var(--light-color);
    font-size: 36px;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #d0aaff;
    font-size: 20px;
}

p {
    line-height: 23px;
}

/* Links */
a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active {
    color: #d4b44c;
}

/* Button Styles */
.btn {
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

/* Modifier classes */
.btn--dark {
    background: var(--primary-color);
    color: var(--light-color);
}

.btn--mid {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.btn--light {
    background: var(--light-color);
    color: var(--primary-color);
}

/* Hover and active states */
.btn:hover, 
.btn:active {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

/* Layout */
header, section, footer {
    padding: 45px 0;
}

header, .section-two {
    background-color: var(--primary-color);
}

.section-two {
    color: var(--light-color);
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: var(--primary-color);
}
